.header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  height: 12rem;
}
.searchBar {
  display: flex;
  justify-content: center;
  border: none;
}
.searchBar input {
  background: #fff;
  display: flex;
  height: 40px;
  width: 30rem;
  font-size: 22px;
}
.btn {
  align-items: center;
  cursor: pointer;
  justify-content: center;
  width: 78px;
}
.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: white;
  padding: 4rem;
}
.image {
  height: 13rem;
}

.suggestionBox {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: self-end;
  width: 535px;
  background-color: white;
  color: black;
  z-index: 1;
  justify-content: space-between;
}
.suggestion {
  display: flex;
  flex-direction: column;
}
.clearBtn {
  height: 36px;
  width: 65px;
  border-radius: 6px;
  border: none;
  color: white;
  /* text-decoration: none; */
  font-size: 22px;
  background-color: red;
}
@media (max-width: 768px) {
  .header {
    font-size: 1.2rem;
    height: auto;
  }
  .searchBar {
    flex-direction: column;
  }
  .searchBar input {
    width: 100%;
  }
  .btn {
    margin-top: 1rem auto;
  }
}
